$black: #222222;
$fullblack: #000;
$pink1: #F16D7F;
$white: #FFFFFF;
$graylight: #9f9f9f;
$graydark: #5D5D5D;
$pink2: #F26376;
$pink3: #EF5B70;
$whitedarker: #FBFBFB;
$mainbgr: #F1E4E6;
$breadcrumbbgr: #F8F3F4;
$breadcrumbgray: #636363;
$productbgr: #F7F7F7;
$arrowbgr: #2a2a2a;
$productborder: #EAEAEA;
$producttext: #6F6E6E;
$sliderborder: #EBEBEB;
$slidercolor: #c4c4c4;
$formtext: #b1b1b1;
$cartbutton: #a4a4a4;
$total: #f5f3f3;
$subtotal: #4a4a4a;
$arrowopacity: 0.15;
$arrowwidth: 47px;
$arrowheight: 47px;
$productpadding: 64px 250px;
$lato_r: 'Lato_r',
sans-serif;
$lato_bl: 'Lato_bl',
sans-serif;
$lato_bo: 'Lato_bo',
sans-serif;
$lato_l: 'Lato_l',
sans-serif;
@mixin flexColCen() {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'Lato_bl';
    src: url("../fonts/Lato-Black.ttf");
}

@font-face {
    font-family: 'Lato_bo';
    src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: 'Lato_l';
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: 'Lato_r';
    src: url("../fonts/Lato-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
    font-family: $lato_r;
}

body {
    font-family: $lato_r;
    background: $white;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.main {
    overflow: hidden;
    position: relative;
}

.header {
    background: $black;
    padding: 19px 0;
    .container {
        @include flexColCen();
    }
}

.leftside {
    margin-right: auto;
    svg {
        cursor: pointer;
    }
}

.logo {
    margin-right: 41px;
}

.rightside {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 33px;
    svg {
        cursor: pointer;
    }
}

.menu-button svg {
    position: absolute;
}

.menu-checkbox {
    position: relative;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 32px;
    height: 23px;
}

#check {
    display: none;
    &:checked~.menu {
        right: 0px;
    }
}

.menu {
    position: absolute;
    top: 79px;
    right: -232px;
    z-index: 3;
    transition: right 0.6s;
    width: 232px;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 32px;
    box-sizing: border-box;
}

.menu-title {
    font-size: 14px;
    line-height: 17px;
    color: $black;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
}

.menu-link {
    font-size: 14px;
    line-height: 17px;
    color: $pink1;
}

.menu-section-items {
    list-style-type: none;
    padding-left: 21px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 12px;
}

.menu-section-item {
    font-size: 14px;
    line-height: 17px;
    color: $producttext;
}

.menu-section-item:hover {
    color: $pink1;
}

.main-content {
    background: $mainbgr;
    .container {
        @include flexColCen();
        flex-wrap: nowrap;
    }
}

.main-info {
    margin-left: 63px;
    display: flex;
    max-height: 93px;
    color: $black;
}

.info-bar {
    background: $pink1;
    width: 12px;
    height: 92px;
    margin-right: 16px;
}

.main-info-texts {
    width: 378px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-info-title {
    font-family: $lato_bl;
    font-size: 48px;
}

.main-info-text {
    font-family: $lato_bo;
    font-size: 32px;
    margin-right: 11px;
}

.main-info-text-extra {
    font-family: $lato_bo;
    font-size: 32px;
    color: $pink1;
}

.why {
    padding: 65px 0;
}

.why-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.why-item {
    width: 360px;
    height: 260px;
    @include flexColCen();
    background-repeat: no-repeat;
    background-size: cover;
}

.item1 {
    background-image: url(../img/why1.png);
}

.item2 {
    background-image: url(../img/why2.jpg);
}

.item3 {
    background-image: url(../img/why3.jpg);
}

.why-item-last {
    background-image: url(../img/why4.jpg);
    width: 1140px;
    height: 180px;
}

.why-item-info {
    @include flexColCen();
    flex-direction: column;
}

.why-item-title {
    font-size: 16px;
    color: $white;
}

.why-item-text {
    font-family: $lato_bo;
    font-size: 24px;
    color: $pink1;
}

.featured {
    padding-top: 31px;
}

.featured-item-container {
    position: relative;
    width: 100%;
    &:hover {
        .featured-hover {
            opacity: 1;
        }
    }
}

.featured-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.featured-hover {
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    position: absolute;
    transition: 0.3s;
    top: 0;
    left: 0;
    @include flexColCen();
}

.featured-hover-box {
    width: 139px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    background: transparent;
    box-sizing: border-box;
    border: solid $white 1px;
    font-size: 14px;
    color: $white;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        border: solid $pink1 1px;
        color: $pink1;
        svg {
            filter: invert(51%) sepia(95%) saturate(646%) hue-rotate(311deg) brightness(100%) contrast(90%);
        }
    }
    svg {
        margin-right: 11px;
    }
}

.featured-info {
    @include flexColCen();
    flex-direction: column;
}

.featured-title {
    font-size: 30px;
    margin-bottom: 6px;
}

.featured-text {
    font-size: 14px;
    color: $graylight;
    margin-bottom: 48px;
}

.featured-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.featured-item {
    max-width: 360px;
    background: $whitedarker;
}

.featured-item-info {
    margin: 24px 16px;
}

.featured-item-title {
    font-size: 13px;
    margin-bottom: 16px;
}

.featured-item-text {
    font-family: $lato_l;
    font-size: 14px;
    color: $graylight;
    margin-bottom: 16px;
}

.featured-item-price {
    font-size: 16px;
    color: $pink1;
}

.action {
    @include flexColCen();
    margin: 50px 0;
}

.featured-button {
    background: transparent;
    padding: 15px 39px;
    box-sizing: border-box;
    border: solid $pink2 1px;
    cursor: pointer;
    color: $pink2;
    font-size: 16px;
    transition: 0.3s;
    &:hover {
        background: $pink1;
        color: $white;
    }
    &:hover a {
        color: $white;
    }
    a {
        color: $pink2;
        font-size: 16px;
    }
}

.extra-features {
    background: $black;
}

.extra-features-box {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 30px;
    padding: 103px 230px;
}

.extra-feature {
    max-width: 360px;
    @include flexColCen();
    flex-direction: column;
    color: $white;
    text-align: center;
    svg {
        margin-bottom: 28px;
    }
}

.extra-feature-title {
    font-size: 20px;
    margin-bottom: 16px;
}

.extra-feature-text {
    font-family: $lato_l;
    font-size: 14px;
    color: $white;
}

.newsletter {
    background-image: url(../img/news-bgr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container {
        @include flexColCen();
        padding-top: 97px;
        padding-bottom: 126px;
        padding-left: 230px;
        padding-right: 230px;
    }
}

.news-left {
    @include flexColCen();
    flex-direction: column;
    max-width: 360px;
}

.woman-photo {
    max-width: 96px;
    max-height: 96px;
    margin-bottom: 30px;
}

.news-left-text {
    color: $graydark;
    font-size: 20px;
}

.news-right {
    margin-left: auto;
    @include flexColCen();
    flex-direction: column;
}

.news-title {
    font-family: $lato_bo;
    font-size: 24px;
    color: $graydark;
    margin-bottom: 10px;
}

.news-text {
    font-size: 18px;
    color: $graydark;
    margin-bottom: 26px;
}

.news-form {
    background: #E1E1E1;
    width: 341px;
    color: $graylight;
    opacity: 0.6710000038146973;
    border-radius: 30px;
    font-size: 14px;
    display: flex;
    align-items: center;
    div {
        margin-left: 22px;
    }
}

input {
    padding: 20px 18px;
}

input[name=Email] {
    background: transparent;
    margin: 0 5px;
    opacity: 0.6710000038146973;
    width: 100%;
}

input[name=Subscribe] {
    background: $pink1;
    border-radius: 0 30px 30px 0;
    color: $white;
    cursor: pointer;
}

.footer {
    background: $black;
    .container {
        padding: 30px 230px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $graydark;
    }
}

.footer-left {
    font-size: 16px;
    color: $white;
}

.footer-right {
    margin-left: auto;
}

.social {
    margin-right: 7px;
    cursor: pointer;
}

.breadcrumb {
    background: $breadcrumbbgr;
}

.breadcrumb .container {
    @include flexColCen();
    justify-content: flex-start;
    padding: 59px 0;
}

.bread-left {
    color: $pink1;
    font-size: 24px;
}

.bread-right {
    display: flex;
    margin-left: auto;
    color: $breadcrumbgray;
    font-family: $lato_l;
    font-size: 14px;
}

.bread-right-text {
    margin-right: 5px;
    a {
        color: $breadcrumbgray;
        font-family: $lato_l;
        font-size: 14px;
        margin-right: 5px;
    }
    a:hover {
        color: $pink1;
    }
}

.bread-right-text-2 {
    font-family: $lato_bo;
    color: $pink1;
}

.image-slider {
    @include flexColCen();
    background: $productbgr;
    flex-direction: row;
    position: relative;
    div:first-of-type {
        float: left;
        margin-right: auto;
    }
    div:last-of-type {
        float: right;
        margin-left: auto;
    }
}

.arrow-button {
    width: $arrowwidth;
    height: $arrowheight;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    cursor: pointer;
}

.arrow-slider {
    background: $arrowbgr;
    opacity: $arrowopacity;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.product-info .container {
    @include flexColCen();
    margin: -65px auto;
    background: $white;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid $productborder;
    margin-bottom: 128px;
    padding: 0;
    z-index: 2;
    position: relative;
}

.product-info-main {
    font-family: $lato_l;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $productpadding;
}

.product-info-title {
    color: $pink1;
    font-size: 14px;
    margin-bottom: 12px;
}

.product-info-decoration-big {
    width: 63px;
    height: 3px;
    background: $pink3;
    margin-bottom: 12px;
}

.product-info-sub-title {
    font-size: 18px;
    margin-bottom: 48px;
}

.product-info-text {
    font-size: 14px;
    margin-bottom: 32px;
    max-width: 555px;
}

.product-info-price {
    color: $pink3;
    font-size: 24px;
}

.product-info-decoration-small {
    width: 642px;
    height: 1px;
    background: $productborder;
}

.product-info-secondary {
    padding: $productpadding;
}

.product-selections {
    display: flex;
    margin-bottom: 48px;
}

.product-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
    color: $producttext;
    font-size: 14px;
}

.product-selection:last-of-type {
    margin-right: 0;
}

.product-selection-text {
    margin-right: 9px;
}

.product-info-secondary .action {
    margin: 0;
}

.product-info-secondary .featured-button {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        filter: invert(52%) sepia(68%) saturate(2429%) hue-rotate(317deg) brightness(96%) contrast(94%);
        margin-right: 22px;
    }
}

.product-info-secondary .featured-button:hover svg {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(267deg) brightness(104%) contrast(105%);
}

.product-featured {
    margin-bottom: 128px;
}

.catalog .container {
    padding-top: 51px;
    padding-bottom: 96px;
}

.filters {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 64px;
}

.filter-box {
    position: relative;
    width: 360px;
    height: 40px;
}

.filter {
    width: 100%;
    padding: 13px 16px 16px;
    box-sizing: border-box;
    position: absolute;
    background: $white;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
    svg {
        margin-left: 11px;
    }
}

.filter-summary {
    font-family: $lato_bo;
    font-size: 14px;
}

.filter[open] {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    .filter-summary {
        color: $pink1;
    }
    .filter-summary svg {
        filter: invert(70%) sepia(25%) saturate(6602%) hue-rotate(309deg) brightness(97%) contrast(95%);
    }
}

.filter-category {
    margin-top: 16px;
}

.category-summary {
    font-size: 14px;
    line-height: 17px;
    color: $pink1;
    padding: 8px 11px 11px;
    border-left: 5px solid $pink1;
    border-bottom: 1px solid $sliderborder;
}

.category-content {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 24px 16px;
    gap: 11px;
}

.category-content-link {
    font-size: 14px;
    line-height: 17px;
    color: $breadcrumbgray;
    cursor: pointer;
}

.category-content-link:hover {
    color: $pink1;
}

summary::-webkit-details-marker,
summary::marker {
    display: none;
    content: "";
}

.options {
    display: flex;
    align-items: center;
    margin-left: calc(50% - 540px);
    gap: 28px;
}

.option {
    position: relative;
    cursor: pointer;
    color: $producttext;
    font-size: 14px;
    transition: 0.3s;
}

.option-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        margin-left: 10px;
    }
}

.option-content {
    position: absolute;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 6px;
    width: 79px;
    padding: 7px 9px 11px;
    background: $white;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    z-index: 1;
    top: 22px;
    left: -9px;
}

.option-label {
    display: flex;
    gap: 9px;
    input {
        border: 1px solid $sliderborder;
        border-radius: 0;
    }
}

.slider {
    display: flex;
    box-sizing: border-box;
    width: 284px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    border: 1px solid $sliderborder;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    svg {
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0) brightness(0%) contrast(100%);
        cursor: pointer;
    }
    svg:first-of-type {
        margin-right: auto;
    }
    svg:last-of-type {
        margin-left: auto;
    }
    svg:hover {
        filter: invert(70%) sepia(25%) saturate(6602%) hue-rotate(309deg) brightness(97%) contrast(95%);
    }
    svg:last-of-type:hover {
        filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
}

.slider-options {
    display: flex;
     :nth-child(6) {
        margin: 0;
    }
     :nth-child(7) {
        margin: 0;
        cursor: default;
    }
     :nth-child(7):hover {
        color: $slidercolor;
    }
     :nth-child(8) {
        margin: 0;
    }
}

.slider-option {
    margin-right: 23px;
    cursor: pointer;
    font-family: $lato_l;
    font-size: 16px;
    color: $slidercolor;
}

.slider-option:hover {
    color: $pink1;
}

.shopping-cart .container {
    display: flex;
    padding-top: 96px;
    padding-bottom: 78px;
}

.cart-left {
    display: flex;
    flex-direction: column;
    max-width: 652px;
}

.cart-item {
    display: flex;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
    max-height: 306px;
    padding-right: 22px;
    margin-bottom: 40px;
    svg {
        margin-top: 28px;
        cursor: pointer;
    }
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    padding-left: 31px;
    padding-bottom: 62px;
    padding-top: 22px;
     :not(:first-child)::after {
        color: $breadcrumbgray;
        padding: 0 8px;
    }
     :nth-child(2)::after {
        color: $pink3;
        content: '$300';
    }
     :nth-child(3)::after {
        content: 'Red';
    }
     :nth-child(4)::after {
        content: 'XI';
    }
     :last-child::after {
        content: '2';
        box-sizing: border-box;
        border: 1px solid $productborder;
        padding: 0 15px;
        margin-left: 31px;
    }
}

.cart-item-title {
    max-width: 262px;
    font-size: 24px;
    margin-bottom: 42px;
}

.cart-item-text {
    font-size: 22px;
    color: #575757;
}

.cart-left .action {
    justify-content: flex-start;
     :last-child {
        margin-left: auto;
        width: 231px;
    }
}

.cart-button {
    border: 1px solid $cartbutton;
    color: $fullblack;
    width: 247px;
    font-size: 14px;
    &:hover {
        background: $cartbutton;
    }
}

.cart-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 360px;
    gap: 20px;
    input {
        width: 360px;
        height: 45px;
        box-sizing: border-box;
        border: 1px solid #A4A4A4;
        padding: 0;
        font-family: $lato_l;
    }
    input:not(input:last-of-type) {
        margin-bottom: 20px;
        padding-left: 17px;
        color: $formtext;
    }
    input:not(input:last-of-type)::placeholder {
        color: $formtext;
        font-size: 13px;
    }
    input:last-of-type {
        width: 101px;
        background: transparent;
        color: #4a4a4a;
        font-size: 11px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background: $cartbutton;
            color: $white;
        }
    }
}

.cart-title {
    font-family: $lato_l;
    font-size: 16px;
    color: $black;
    margin-bottom: 20px;
}

.cart-total {
    background: $total;
    padding-top: 39px;
    padding-bottom: 42px;
    padding-right: 34px;
    padding-left: 44px;
}

.cart-total .featured-button {
    font-size: 16px;
    font-family: $lato_l;
}

.total {
    box-sizing: border-box;
    border-bottom: 1px solid $sliderborder;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 17px;
}

.sub-total {
    font-size: 11px;
    color: $subtotal;
    margin-bottom: 12px;
    &::after {
        content: '$900';
        padding-left: 25px;
    }
}

.grand-total {
    font-size: 16px;
    font-family: $lato_l;
    color: $black;
    margin-bottom: 21px;
    &::after {
        content: '$900';
        color: $pink1;
        font-family: $lato_bo;
        padding-left: 25px;
    }
}

.registration .container {
    display: flex;
    padding-top: 64px;
    padding-bottom: 96px;
}

.registration-left {
    display: flex;
    flex-direction: column;
    margin-right: 128px;
    label {
        font-family: $lato_l;
        font-size: 16px;
        color: $black;
        margin-bottom: 20px;
    }
    input[type=text] {
        box-sizing: border-box;
        border: 1px solid $cartbutton;
        width: 360px;
        height: 45px;
        margin-bottom: 20px;
        color: $formtext;
        font-family: $lato_l;
        font-size: 13px;
    }
    .featured-button {
        width: 167px;
        font-family: $lato_r;
        font-size: 14px;
        padding: 16px 29px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .featured-button svg {
        margin-left: auto;
        filter: invert(50%) sepia(94%) saturate(1085%) hue-rotate(313deg) brightness(104%) contrast(89%);
    }
    .featured-button:hover svg {
        filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(101deg) brightness(100%) contrast(103%);
    }
}

.registration-options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 23px;
}

.registration-option {
    input {
        margin-right: 10px;
    }
}

.registration-extra-text {
    width: 359px;
    font-family: $lato_l;
    font-size: 13px;
    color: $formtext;
    margin-bottom: 39px;
}

.registration-right {
    font-family: $lato_l;
    font-size: 24px;
}

.registration-title {
    margin-bottom: 22px;
}

.registration-text {
    margin-bottom: 21px;
}

.registration-perk {
    list-style-image: url(../img/registration-checkmark.svg);
    list-style-position: inside;
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
    .leftside {
        margin-right: auto;
        margin-left: 33px;
    }
    .rightside {
        margin-right: 33px;
    }
    .main-info-image {
        max-width: 368px;
    }
    .main-info {
        margin-left: 39px;
    }
    .main-info-title {
        font-size: 44px;
    }
    .main-info-text {
        font-size: 24px;
    }
    .main-info-text-extra {
        font-size: 24px;
    }
    .why-items {
        gap: 19px;
        grid-template-columns: repeat(3, 232px);
    }
    .why-item {
        width: 232px;
        height: 162px;
    }
    .why-item-last {
        width: 734px;
        height: 116px;
    }
    .featured {
        padding-top: 110px;
    }
    .featured-text {
        margin-bottom: 72px;
    }
    .featured-items {
        gap: 16px;
        grid-template-columns: repeat(2, 360px);
        justify-content: center;
    }
    .extra-features-box {
        padding-top: 48px;
        padding-bottom: 64px;
        grid-template-columns: repeat(1, 360px);
    }
    .newsletter {
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            display: grid;
            grid-template-columns: repeat(1, 360px);
        }
    }
    .news-left {
        margin-bottom: 48px;
    }
    .news-form {
        border-radius: 50px;
    }
    input[name=Subscribe] {
        border-radius: 0 50px 50px 0;
    }
    .footer {
        .container {
            padding: 30px 32px;
        }
    }
    .breadcrumb .container {
        padding: 59px 16px;
    }
    .product {
        padding-top: 0;
    }
    .product-info .container {
        margin: auto;
    }
    .product-info-secondary .featured-button {
        height: 48px;
        width: 212px;
        padding: 15px 24px;
    }
    .product-info-text {
        width: 555px;
    }
    .product-selections {
        width: 373px;
    }
    .product-selection {
        max-width: 129px;
        justify-content: flex-start;
    }
    .product-featured .featured-item:last-of-type {
        display: none;
    }
    .filter-box {
        margin-right: auto;
    }
    .options {
        margin: 0;
        margin-right: 16px;
    }
    .catalog .featured-items {
         :nth-child(3) {
            display: none;
        }
    }
    .shopping-cart .container {
        flex-direction: column;
        padding: 59px 17px;
        align-items: center;
    }
    .cart-left {
        max-width: 734px;
        box-sizing: border-box;
        .action {
            align-items: center;
            justify-content: center;
            gap: 48px;
        }
        .action :last-child {
            margin: 0;
        }
    }
    .cart-item-info {
        box-sizing: border-box;
        width: 293px;
        margin-right: 137px;
    }
    .cart-right {
        margin: 0;
        flex-direction: row;
        max-width: 768px;
    }
    .cart-form {
        display: flex;
        flex-direction: column;
    }
    .cart-total {
        height: 214px;
        padding: 40px;
        box-sizing: border-box;
        align-self: center;
    }
    .registration {
        .container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    .registration-left {
        margin-right: 22px;
    }
    .registration-right {
        font-size: 16px;
    }
    .registration-perk {
        margin-bottom: 22px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 320px;
    }
    .small-screen {
        display: none;
    }
    .leftside {
        margin-right: auto;
        margin-left: 15px;
    }
    .rightside {
        margin-right: 15px;
    }
    .main-info {
        margin: 148px auto;
        max-height: 66px;
    }
    .info-bar {
        height: 61px;
    }
    .main-info-texts {
        max-width: 260px;
    }
    .main-info-title {
        font-size: 38px;
        margin-right: 20px;
    }
    .main-info-text {
        font-size: 20px;
    }
    .main-info-text-extra {
        font-size: 20px;
    }
    .why-items {
        gap: 32px;
        grid-template-columns: repeat(1, 320px);
    }
    .why-item {
        width: 320px;
        height: 245px;
    }
    .why-item-last {
        height: 111px;
    }
    .featured {
        padding-top: 0;
        .container {
            display: grid;
        }
    }
    .featured-info {
        max-width: 300px;
        align-self: center;
        justify-self: center;
    }
    .featured-text {
        font-size: 14px;
        margin-bottom: 65px;
    }
    .featured-items {
        gap: 16px;
        grid-template-columns: repeat(1, 320px);
        justify-content: center;
    }
    .featured-item {
        max-width: 320px;
    }
    .featured-image {
        max-width: 320px;
    }
    .extra-features-box {
        padding-left: 0;
        padding-right: 0;
        padding-top: 48px;
        padding-bottom: 64px;
        grid-template-columns: repeat(1, 310px);
    }
    .extra-feature {
        max-width: 310px;
    }
    .newsletter {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .container {
            padding-left: 0;
            padding-right: 0;
            display: grid;
            grid-template-columns: repeat(1, 310px);
            align-items: center;
            justify-content: center;
            gap: 0;
        }
    }
    .news-left {
        max-width: 310px;
        margin-bottom: 48px;
    }
    .news-right {
        max-width: 310px;
    }
    .news-form {
        border-radius: 50px;
        max-width: 310px;
    }
    input[name=Subscribe] {
        border-radius: 0 50px 50px 0;
    }
    input[name=Email] {
        background: transparent;
        margin: 0 5px;
        opacity: 0.6710000038146973;
    }
    .footer {
        .container {
            padding-top: 40px;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
    .footer-right {
        margin: 0;
        margin-bottom: 40px;
    }
    .social {
        &:last-child {
            margin-right: 0;
        }
    }
    .menu {
        right: -320px;
        width: 320px;
    }
    .breadcrumb .container {
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    }
    .bread-right {
        margin-left: 0;
    }
    .image-slider {
        position: relative;
        img {
            width: 320px;
            position: relative;
        }
    }
    .arrow-button {
        position: absolute;
        left: 0;
        z-index: 1;
        &:last-of-type {
            left: calc(100% - 47px);
        }
    }
    .product-info .container {
        margin: auto;
        z-index: 0;
    }
    .product-info-text {
        width: 310px;
    }
    .product-selections {
        width: 310px;
    }
    .product-selection {
        font-size: 10px;
    }
    .featured-button {
        svg {
            display: block;
        }
    }
    .filters {
        position: relative;
    }
    .filter-box {
        max-width: 320px;
    }
    .filter-summary {
        font-size: 0;
        svg {
            width: 37px;
            height: 25px;
            margin: 0;
        }
    }
    .options {
        position: absolute;
        right: 0;
        width: 260px;
        margin: 0;
        gap: 20px;
        z-index: 2;
    }
    .option-summary {
        font-size: 12px;
    }
    .catalog .featured-items {
        max-width: 320px;
        .featured-item-price {
            display: block;
        }
    }
    .cart-left {
        max-width: 320px;
        .action {
            gap: 10px;
        }
        .action :last-child {
            width: 150px;
        }
    }
    .cart-item {
        height: 188px;
        padding-right: 12px;
        svg {
            margin-top: 17px;
            width: 10px;
            height: 11px;
        }
    }
    .cart-item-image img {
        width: 143px;
        height: 188px;
    }
    .cart-item-info {
        max-width: 143px;
        padding-left: 17px;
        padding-top: 13px;
        padding-bottom: 37px;
        margin-right: 4px;
    }
    .cart-item-title {
        font-size: 15px;
    }
    .cart-item-text {
        font-size: 13px;
    }
    .cart-button {
        width: 150px;
        height: 33px;
        font-size: 11px;
        padding: 0;
    }
    .cart-right {
        flex-direction: column;
        max-width: 320px;
    }
    .cart-form {
        max-width: 314px;
        input {
            max-width: 314px;
        }
    }
    .cart-total {
        max-width: 314px;
        padding: 20px;
        .featured-button {
            width: 273px;
        }
    }
    .registration {
        .container {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            padding-right: 0;
            gap: 40px;
        }
    }
    .registration-left {
        max-width: 314px;
        margin: 0;
        input[type=text] {
            max-width: 314px;
        }
    }
    .registration-right {
        max-width: 314px;
    }
}